html
    head
        title GYMONATOR
        link(rel="stylesheet" href="/font/css/font-awesome.min.css")
        link(rel="stylesheet" href="/semantic/semantic-custom.css")
        link(rel="stylesheet" href="/semantic/dist/semantic.min.css")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
        script(src="/semantic/dist/semantic.min.js")
           
        style(type='text/css').
           
           
            h1.ui.header{
            padding-top: 1em; 
            font-size: 4em;
            font-family: 'century gothic';
            font-weight: 200%;
            color:white;
            }
            h2{
            font-size:1.4em;
            padding:0;
            margin-top:0;   
            font-weight: 100%;
            color:#ffcccc;
            }
            .bg{
                background-color: #1B1C1E;
                width: auto;
                height: auto;
            }
            h3.ui.horizontal.divider.header{
                font-weight:200%;
            }
            #programlist{
                padding-top:50;
            }
            #programlist > .column> h2{
                font-size:1.4em;
                margin-top:0;   
                font-weight: 100%;
                color:#000;
            }
            #programlist > .column> a{
                margin-bottom:20;
                
            }
            #program{
                padding-top:20px;
            }

    body        
        #all.container             
            #navbar.ui.large.top.fixed.inverted.menu   
                    a.header.item(href='/home') A - TEAM FITNESS CENTER
                        i.heartbeat.icon      
                    .right.menu
                        a.item(href='/trainer') Trainers
                        .item.active.red Programs
                        a.item(href='/home#about') About
                        a.item(href='/login') Logout                     
            .bg
                .column
                    .ui.column.grid
                        .middle.aligned.center.aligned.column
                            h1.ui.header Hi Admin!
                            h2 Manage your available programs here.
            .row
                .ui.two.column.centered.grid
                    .column      
                        #program.column 
                            .ui.three.column.grid   
                                .column   
                                .center.aligned.column
                                    h1  Programs List     
                                .right.floated.right.aligned.column
                                    a.button.large.ui.icon.button(href="/program/add")
                                                i.add.icon
                                                | Add Program

                        each program in programs
                            tr
                                #programlist.ui.equal.width.center.aligned.grid
                                    .column
                                        h2= `${program.progName}`
                                    .column
                                        h4= `${program.progDate}`
                                    .column
                                        h4= `${program.progPrice}`
                                    .column
                                        a.button.ui.icon.button(href=`/program/edit/${program.progID}`)
                                            i.edit.icon
                                        a.button.ui.icon.button(href=`/program/delete/${program.progID}`)
                                            i.trash.icon
        script.
            $('#all').transition({  
            animation  : 'fade in',
            duration   : '2s'});            